<h1>Verificar Lista de Livros</h1>
<p>Clique no notão para verificar a lista de livros</p>
<a href="/home"><input type="button" value="Home"></a>
<a href="/consultarLivro/btn"><button>Consultar</button></a>
    
     <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Nome</td>
                <td>Autor</td>
                <td>Editora</td>
                <td>Ano Publicação</td>
            </tr>
        </thead>
        <tbody>
           {{#each livros}}
            <tr>
                <td>{{idLivro}}</td>
                <td>{{nomeLivro}}</td>
                <td>{{autorLivro}}</td>
                <td>{{editoraLivro}}</td>
                <td>{{anoPublicacaoLivro}}</td>
            </tr>
            {{/each}}            
        </tbody>
    </table>



