<h1>Sistema Meus Livros</h1>
<div class="container">
    <section class="areaData">
        <div class="cadastroArea">
            <h2>Cadastrar Novo Livro</h2>
            <p>Preencha os campos abaixo e cadastre um novo livro:</p>
            <form action="/addLivro" method="post">
                <div>
                    <label for="">Nome do Livro</label>
                    <input type="text" name="nomeLivro" id="">
                </div>
                <div>
                    <label for="">Autor</label>
                    <input type="text" name="autorLivro" id="">
                </div>
                <div>
                    <label for="">Editora</label>
                    <input type="text" name="editoraLivro" id="">
                </div>
                <div>
                    <label for="">Ano de Publicação</label>
                    <input type="text" name="anoPublicacaoLivro" id="">
                </div>
                <button class="btnCadPesquisa" type="submit">Enviar</button>
            </form>
        </div>
        <div class="listaArea">
            <h2>Verificar Lista de Livros</h2>
            <div>
                <span>Clique no botão para verificar a lista de livros cadastrados e deletar algum caso queira:</span>
                <a href="/listarLivros"><button class="btnCadPesquisa">Consultar</button></a>
            </div>    
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Nome</td>
                        <td>Autor</td>
                        <td>Editora</td>
                        <td>Ano Publicação</td>
                        <td>Deletar</td>
                    </tr>
                </thead>
                <tbody>
                {{#each livrosLista}}
                    <tr>
                        <td>{{idLivro}}</td>
                        <td>{{nomeLivro}}</td>
                        <td>{{autorLivro}}</td>
                        <td>{{editoraLivro}}</td>
                        <td>{{anoPublicacaoLivro}}</td>
                        <td><a href="/deletarLivro/{{idLivro}}"><img src="/images/trashcan.png" alt=""></a></td>
                    </tr>
                    {{/each}}            
                </tbody>
            </table>
        </div>
    </section>
</div>




