<h1>Consulta Livros</h1>
        <ul>
            {{#each livro}}
                <li>{{idLivro}}</li>
                <li>{{nomeLivro}}</li>
                <li>{{autorLivro}}</li>
                <li>{{editoraLivro}}</li>
                <li>{{anoPublicacaoLivro}}</li>
            {{/each}}
        </ul>
</div>